<div>
	<h2>Pet Details</h2>
	<label>
		Pet Name:
		<Input @type="text" @value={{this.apiName}} />
	</label>
		<div class="form-group">
			<label for="gender">Pet Type:</label>
			<select class="form-control" {{on "change" (action "methodChanged")}}>
				<option value="POST">POST</option>
				<option value="GET">GET</option>
				<option value="DELETE">DELETE</option>
				<option value="PUT">PUT</option>
			</select>
		</div>
		<Textarea @value={{this.data}} /> 
	<button type="button" {{action "sendAPI"}}>SEND</button>
</div>
