@import url("./nav-bar.css");
@import url("./login.css");
@import url("./table.css");
@import url("./icons.css");

.ember-application {
  margin: 0;
}

.home {
  .app {
    margin: 20px;
  }
}

a {
  color: blue;
  cursor: pointer;
}
