@import url("./nav-bar.css");
@import url("./login.css");
@import url("./table.css");
@import url("./icons.css");
@import url("./search.css");

.ember-application {
  margin: 0;
}

.home {
  .app {
    margin: 20px;
  }
}

a {
  color: blue;
  cursor: pointer;
}

.none-found {
  color: red;
  margin: 10px 0;
}

button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
