.icon-grey {
  fill: darkslategrey;
}

.icon-green {
  fill: green
}

.icon-red {
  fill: red
}

.icon-crimson {
  fill: crimson
}

.icon-orange {
  fill: orange
}

.icon-clickable {
  cursor: pointer;
}
