{{!-- {{page-title "Roomio"}} --}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class="home">
    {{tab-components/nav-bar}}
    <div class="app">
        {{outlet}}
    </div>
</div>