{{!-- {{page-title "Roomio"}} --}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class="home">
    {{#unless (or (eq this.target.currentPath "login") (eq this.target.currentPath "signup"))}}
        {{tab-components/nav-bar}}
    {{/unless}}
    <div class="app">
        {{outlet}}
    </div>
</div>