<table>
	<tr>
		<td>Unit Number</td>
		<td>{{this.UnitNumber}}</td>
	</tr>
	<tr>
		<td>Monthly Rent</td>
		<td>{{this.MonthlyRent}}</td>
	</tr>
	<tr>
		<td>Square Footage</td>
		<td>{{this.squareFootage}}</td>
	</tr>
	<tr>
		<td>Available Move In Date</td>
		<td>{{this.AvailableDateForMoveIn}}</td>
	</tr>
</table>
