<div>
  <h2>Pet Details</h2>
  <label>
    Pet Name:
    {{input type="text" value=this.petName}}
  </label>
  <label>
    Pet Type:
    {{input type="text" value=this.petType}}
  </label>
  <label>
    Pet Size:
    {{input type="text" value=this.petSize}}
  </label>
  <button {{action "savePetDetails"}}>Save</button>
</div>